nav {
    width: 980px;
    min-height: 60px;

    margin: 20px auto 0 auto;

    font-family: Gill;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;

            margin: 0 15px 0 15px;
        }

        p {
            color: #ee4367;

            margin-bottom: 0;
        }
    }


}

.white {
    border-bottom: 2px white solid; 

    a {
        color: white;   
    }
}

.black {
    border-bottom: 2px black solid;

    a {
        color: black;     
    } 
}

@media only screen and (max-width: 1060px) {
    nav {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;

        .links {
            flex-wrap: wrap;

            p {
                margin: 15px 0 15px 0;
            }
        }
    }
}
