// colors
$overlay-yellow: rgba(255,209,64,.8);
$overlay-pink: rgba(238,67,103,.8);
$overlay-green: rgba(8,173,105,.8);
$overlay-purple: rgba(84,13,110,.8);
$overlay-blue: rgba(59,206,171,.8);

$yellow: rgba(255,209,64,1);
$pink: rgba(238,67,103,1);
$green: rgba(8,173,105,1);
$purple: rgba(84,13,110,1);
$blue: rgba(59,206,171,1);

// width
$center-width: 980px;